<% content_for :title, "Animals" %>

<div class="d-flex align-items-center mb-4">
  <h1>Animals</h1>
  <%= link_to "New animal", new_animal_path, class:"btn btn-primary ms-3"%>
</div>

<div id="animals">
  <table class="table table-info table-striped table-striped table-bordered">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Born</th>
      <th scope="col">Comments</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <% @animals.each do |animal| %>
      <%= render animal %>
    <% end %>
    </tbody>
  </table>
</div>